body {
  background-image: url(/imagenes/background.jpg);
  background-size: cover;
  margin-left: 15px;
  margin-right: 15px;
}

header {
  display: flex;
  height: 70px;
  padding: 40px;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}
header nav ul li {
  margin: 10px;
}
header nav ul li a {
  text-decoration: none;
  padding: 12px;
  color: #41622d;
  font-family: "lucida sans regular";
}
header .logo img {
  justify-content: left;
  flex: auto;
  width: 180px;
  height: 70px;
}
header .labe_hamburguesa {
  display: none;
}
header .menu-ham {
  display: none;
}
header .responsive-carousel {
  display: none;
}
header .menu1 .menu-tienda button {
  background-color: #41622d;
  color: #e9e5cd;
}
header .menu1 a:hover {
  background-color: #41622d;
  color: #e9e5cd;
  border-radius: 25px;
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  header .logo img {
    flex: auto;
    size: 10px;
  }
  header .labe_hamburguesa {
    display: contents;
  }
  header .menu-ham:checked + .menu1 {
    display: block;
  }
  header .menu1 {
    display: none;
  }
  header .menu1 ul {
    background-color: #e9e5cd;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    position: fixed;
    left: 0px;
    top: 60px;
    width: 100%;
    z-index: 2;
  }
}
footer {
  width: 100%;
  justify-content: center;
  margin-top: 35px;
}
footer h2 {
  color: #84a173;
  font-family: "lucida sans regular";
  font-size: small;
  font-weight: bold;
}
footer img {
  width: 25px;
  height: 25px;
}
footer p {
  justify-content: center;
  font-family: "lucida sans";
  font-size: smaller;
}
footer .contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
footer .footer-box {
  display: flexbox;
  margin: 20px;
  text-align: center;
  align-items: baseline;
  flex-wrap: wrap;
}

main {
  margin: 10px 55px 10px 55px;
  padding-top: 35px;
}
main img {
  height: 580px;
}

.responsive-carousel {
  display: none;
}

@media (max-width: 768px) {
  main {
    display: none;
  }
  .responsive-carousel {
    display: contents;
    margin: 15px;
    z-index: 1;
  }
}
.accesorios {
  width: 100%;
  display: flex;
  max-width: 1100px;
  flex-wrap: wrap;
  padding-top: 35px;
}
.accesorios img {
  width: 250px;
  height: 250px;
  display: flexbox;
  border-radius: 10px;
}
.accesorios .box {
  width: 300px;
  text-align: center;
  font-size: 12px;
  margin: 15px;
}

.accesorios :hover img {
  transform: scale(0.8);
}

@keyframes descuento {
  0% {
    color: #41622d;
    background-color: #e9e5cd;
  }
  50% {
    color: #84a173;
    background-color: #e9e5cd;
  }
  100% {
    color: #e9e5cd;
    background-color: #41622d;
  }
}
.primera-compra {
  margin: 35px;
  border-radius: 20px;
}
.primera-compra p {
  text-align: center;
  font-family: "lucida sans";
  color: #41622d;
  animation-name: descuento;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 5s;
}

.despensa {
  width: 100%;
  display: flex;
  max-width: 1100px;
  flex-wrap: wrap;
  padding-top: 35px;
}
.despensa img {
  width: 250px;
  height: 250px;
  display: flexbox;
  border-radius: 10px;
}
.despensa .alimentos {
  width: 300px;
  text-align: center;
  font-size: 12px;
  margin: 15px;
  border-radius: 10px;
}

.despensa :hover img {
  transform: scale(0.8);
}

.nosotros h1 {
  font-size: 35;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #41622d;
}
.nosotros .grid-nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 320px 320px;
}
.nosotros .grid-nosotros .grid-item-1 {
  grid-column: 1/2;
  justify-content: center;
  align-items: center;
}
.nosotros .grid-nosotros .grid-item-1 img {
  height: 320px;
  width: 320px;
  border-radius: 20px;
}
.nosotros .grid-nosotros .grid-item-2 {
  grid-column: 2/3;
  align-items: center;
}
.nosotros .grid-nosotros .grid-item-2 p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20;
  padding-top: 95px;
  justify-content: left;
}
.nosotros .grid-nosotros .grid-item-3 {
  grid-row: 2/3;
  grid-column: 1/2;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
.nosotros .grid-nosotros .grid-item-3 p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20;
}
.nosotros .grid-nosotros .grid-item-4 {
  grid-row: 2/3;
  grid-column: 2/3;
  padding-top: 0%;
}
.nosotros .grid-nosotros .grid-item-4 img {
  width: 320px;
  height: 320px;
  border-radius: 20px;
}

.carousel-nosotros {
  display: none;
}

@media (max-width: 768px) {
  main {
    display: none;
  }
  .carousel-nosotros {
    display: contents;
    margin: 15px;
    z-index: 1;
  }
}
.contacto h2 {
  justify-content: center;
  text-align: center;
  color: #41622d;
}

.ubicacion {
  display: flex;
}
.ubicacion h3 {
  font-size: 12px;
  font-family: "lucida sans";
  padding-top: 95px;
  text-align: left;
  margin: 20px;
}

iframe {
  margin: 20px;
  width: 220px;
  height: 220px;
  border-radius: 20px;
}

.cuidado-personal {
  width: 100%;
  display: flex;
  max-width: 1100px;
  flex-wrap: wrap;
  padding-top: 35px;
}
.cuidado-personal img {
  width: 250px;
  height: 250px;
  display: flexbox;
  border-radius: 10px;
}
.cuidado-personal .box {
  width: 300px;
  text-align: center;
  font-size: 12px;
  margin: 15px;
}

.cuidado-personal :hover img {
  transform: scale(0.8);
}/*# sourceMappingURL=style.css.map */