$color-1: #41622d;
$color-2: #84a173;
$color-3:#e9e5cd;
$fuente-titulos:'lucida sans regular';
$fuente-texto:'lucida sans';

.contacto{
    h2{
        justify-content: center;
        text-align: center;
        color: $color-1;
    }
}
.ubicacion{
    display: flex;
    h3{
        font-size: 12px;
        font-family: $fuente-texto;
        padding-top: 95px;
        text-align: left;
        margin: 20px;
    }
}
iframe{
    margin: 20px;
    width: 220px;
    height: 220px;
    border-radius: 20px;
}